### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Eclipse / STS ###
.project
.classpath
.settings/
.apt_generated/
.springBeans/
.factorypath/
.sts4-cache/

### VS Code ###
.vscode/

### Logs ###
*.log

### OS files ###
.DS_Store
Thumbs.db

### Build ###
build/
out/

### Maven Wrapper ###
mvnw
mvnw.cmd
.mvn/

### Docker ###
*.pid

### Exclude Redis dump files (if generated) ###
dump.rdb
appendonly.aof

