version: '3.8'

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data
  url_shortener:
    build: .
    container_name: url-shortener
    ports:
      - "8080:8080"
    depends_on:
      - redis

volumes:
  redis-data: